* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/*header------------------------------------------------------*/
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(img/header.jpg) no-repeat center center / cover;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-heading,
.banner-par {
  animation: left-to-right 2s;
}
.banner-par {
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

/*animations------------------------------------------------------*/
@keyframes left-to-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
