:root {
  --white: rgba(248, 249, 250, 0.904);
  --darkViolet: rgb(27, 17, 27);
  --violet: rgb(156, 40, 122);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: var(--white);
  user-select: none;
}

.c-violet {
  color: var(--violet);
}
.underline {
  width: 80px;
  margin: auto;
  border: 2px solid var(--violet);
}
.underline-light {
  border: 2px solid white;
}

.action-btn {
  background-color: var(--violet);
  box-shadow: 5px 8px 18px black;
  transition: transform 0.5s;
}
.action-btn:hover {
  box-shadow: none;
  transform: translateY(-4px);
  transition: transform 0.5s;
}
.action-btn:focus {
  outline: none;
  box-shadow: none;
}

.form-control:focus,
.input-group button.btn:focus {
  outline: none;
  box-shadow: none;
}

h2 {
  font-weight: 800;
}

/*header------------------------------------------------------*/
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(img/header.jpg) no-repeat center center / cover;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-heading,
.banner-par {
  animation: left-to-right 2s;
}
.banner-par {
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@media screen and (max-width: 600px) {
  .banner-heading {
    font-size: 27px;
    margin-bottom: 30px;
    font-weight: 700;
  }
  .banner-par {
    width: 70%;
    margin: auto;
    font-size: 15px;
  }
}

/*mission------------------------------------------------------*/
.mission {
  background-color: var(--darkViolet);
}

/*add by js*/
.onscroll-from-left-anim {
  animation: from-left 3s;
}
/*add by js*/
.onscroll-from-right-anim {
  animation: from-right 3s;
}

@media screen and (max-width: 600px) {
  .who-img {
    width: 100%;
  }
}

/*collection------------------------------------------------------*/
.collection {
  background-color: #534953;
}

.collection .card {
  box-shadow: 0 5px 10px rgb(39, 39, 39);
}

.collection .card h6 {
  position: absolute;
  bottom: 10%;
  right: 0;
  background-color: rgb(48, 47, 47);
  opacity: 0.8;
  border: solid 2px transparent;
  border-right: 0;
  width: 70%;
  cursor: pointer;
  transition: all 0.6s;
}

.collection .card h6:hover {
  opacity: 1;
  border: solid 2px white;
  border-right: 0;
  transition: all 0.6s;
}

@media screen and (max-width: 600px) {
  .collection .card h6 {
    font-size: 13px;
  }
}

/*gallery------------------------------------------------------*/
.gallery {
  background-color: #f0f0f0;
  color: #1b111b;
}

.gallery-li {
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
}
.gallery-li:hover {
  color: var(--violet);
}
.gallery-li.active {
  color: var(--violet);
  text-decoration: underline;
}

.gallery-img-container img {
  width: 300px;
  height: 200px;
  margin: 3px;
}

/*customers------------------------------------------------------*/
.customers {
  background-color: var(--darkViolet);
}

.carousel-indicators li {
  height: 3px;
  width: 30px;
  margin: 0 3px;
  background-color: var(--white);
  cursor: pointer;
}
.carousel-indicators li.active {
  background-color: var(--violet);
}

/*pricing------------------------------------------------------*/
.pricing {
  background-color: #f0f0f0;
  color: #1b111b;
}

.pricing h4 {
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  .pricing-cards-row {
    margin: auto;
    width: 70%;
  }
}

.pricing-card {
  margin: auto;
  max-width: 250px;
  border: 0;
  box-shadow: 7px 10px 20px rgb(146, 146, 146);
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(img/header.jpg) center center no-repeat;
}
.card-to-right {
  animation: card-to-right 2s;
}
.card-to-left {
  animation: card-to-left 2s;
}
.card-to-top {
  animation: card-to-top 2s;
}

.pricing-list-item {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px groove;
  width: 60%;
  margin: auto;
}

/*contact------------------------------------------------------*/
.contact {
  background: linear-gradient(
      105deg,
      rgba(27, 17, 27, 1) 0%,
      rgba(27, 17, 27, 0.9) 50%,
      transparent 50%
    ),
    url(img/contact-bg.jpg) no-repeat center center / cover;
}
@media screen and (max-width: 992px) {
  .contact {
    background: linear-gradient(rgba(27, 17, 27, 1), rgba(27, 17, 27, 1));
  }

  .contact h3 {
    text-align: center;
  }

  .contact-form {
    width: 70%;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  label[for='agree'] {
    font-size: 12px;
  }
}

.contact-form input {
  background: transparent;
  border: 0;
  border-bottom: solid 1px var(--white);
  border-radius: 0;
  color: var(--white);
  font-size: 13px;
  transition: all 0.6s;
}

.contact-form input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: solid 1px var(--violet);
  color: var(--white);
  transition: all 0.6s;
}

.contact-form .contact-label {
  display: block;
  margin-top: -50px;
  margin-left: 8px;
  font-size: 13px;
  transition: all 0.6s;
}

.contact-form input:placeholder-shown + .contact-label {
  transform: translateY(20px);
  opacity: 0;
}

/*footer------------------------------------------------------*/
footer p {
  font-size: 12px;
}

footer h6 {
  padding-bottom: 5px;
  border-bottom: solid 2px var(--violet);
  width: 70px;
}
@media screen and (max-width: 576px) {
  footer h6 {
    width: 50%;
    margin: auto;
  }
}

footer a {
  text-decoration: none;
  color: var(--white);
  font-size: 12px;
}
footer a:hover {
  color: white;
  font-weight: 600;
}

footer button.btn {
  background-color: var(--violet);
  color: var(--white);
}

/* footer button.btn:focus {
  outline: 0;
} */

/*animations------------------------------------------------------*/
@keyframes left-to-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes from-left {
  0% {
    transform: translateX(-130px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes from-right {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes card-to-right {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes card-to-left {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes card-to-top {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }

  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
