:root {
  --white: rgba(248, 249, 250, 0.904);
  --darkViolet: #1b111b;
  --violet: rgb(156, 40, 122);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: var(--white);
  user-select: none;
}

.c-violet {
  color: var(--violet);
}
.underline {
  width: 80px;
  margin: auto;
  border: 2px solid var(--violet);
}
.underline-light {
  border: 2px solid white;
}

h2 {
  font-weight: 800;
}

/*header------------------------------------------------------*/
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(img/header.jpg) no-repeat center center / cover;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-heading,
.banner-par {
  animation: left-to-right 2s;
}
.banner-par {
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

/*mission------------------------------------------------------*/
.mission {
  background-color: var(--darkViolet);
}

/*add by js*/
.onscroll-from-left-anim {
  animation: from-left 3s;
}
/*add by js*/
.onscroll-from-right-anim {
  animation: from-right 3s;
}

/*collection------------------------------------------------------*/
.collection {
  background-color: #534953;
}

.collection .card {
  box-shadow: 0 5px 10px rgb(39, 39, 39);
}

.collection .card h6 {
  position: absolute;
  bottom: 10%;
  right: 0;
  background-color: rgb(48, 47, 47);
  opacity: 0.8;
  border: solid 2px transparent;
  border-right: 0;
  width: 70%;
  cursor: pointer;
  transition: all 0.6s;
}

.collection .card h6:hover {
  opacity: 1;
  border: solid 2px white;
  border-right: 0;
  transition: all 0.6s;
}

/*gallery------------------------------------------------------*/
.gallery {
  background-color: #f0f0f0;
  color: #1b111b;
}

.gallery-li {
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
}
.gallery-li:hover {
  color: var(--violet);
}
.gallery-li.active {
  color: var(--violet);
  text-decoration: underline;
}

.gallery-img-container img {
  width: 300px;
  height: 200px;
  margin: 3px;
}

/*customers------------------------------------------------------*/
.customers {
  background-color: var(--darkViolet);
}

/*animations------------------------------------------------------*/
@keyframes left-to-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes from-left {
  0% {
    transform: translateX(-130px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes from-right {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
